body {
    background-color: #0a0a0a;
    font-family: 'Orbitron', sans-serif;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.product-card {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 220px;
    box-shadow: 0 0 15px cyan;
    transition: 0.3s;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px cyan;
}